.sidebar_items{
    background-image: linear-gradient(rgb(12, 231, 184), rgb(57, 238, 229));
    padding: 10px;
    height: 270px;
    display: list-item;
}
.sidebar_items ul{
    list-style: none;
    padding: 0px;
}

.sidebar_items a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.sidebar_items a:hover{
    color: white;
    text-decoration: none;
    
}
.sidebar_items li{
    padding: 10px;
    text-align: center;
}
.sidebar_items li:hover{
    background-color: gray;
    color: white;
}